<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filtered Car List</title>
    <link rel="stylesheet" th:href="@{/css/car-list.css}">

</head>
<body>
<div class="container">
    <h1>Filtered Cars</h1>
    <table>
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Power (kW)</th>
            <th>Consumption (l/100km)</th>
            <th>Fuel Type</th>
            <th>Price (EUR)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.power}"></td>
            <td th:text="${car.consumption}"></td>
            <td th:text="${car.fuelType}"></td>
            <td th:text="${car.price}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/cars">Back to Filters</a>
</div>
</body>
</html>