<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filtered Car List</title>
    <link rel="stylesheet" th:href="@{/css/car-list.css}">

</head>
<body>
<div class="container">
    <h1>Filtered Cars</h1>

    <div class="sort-container">
        <form method="get" th:action="@{'/' + ${searchType} + '/results'}">
            <input type="hidden" name="brand" th:value="${brand}">
            <input type="hidden" name="startingYear" th:value="${startingYear}">
            <input type="hidden" name="endingYear" th:value="${endingYear}">
            <input type="hidden" name="fuelType" th:value="${fuelType}">
            <input type="hidden" name="lowestConsumption" th:value="${lowestConsumption}">
            <input type="hidden" name="highestConsumption" th:value="${highestConsumption}">

            <label for="sort">Sort By:</label>
            <select name="sort" onchange="this.form.submit()">
                <option value="" th:selected="${sort == null or sort == ''}">Relevance</option>
                <option value="price_ascending" th:selected="${sort == 'price_ascending'}">Lowest Price</option>
                <option value="price_descending" th:selected="${sort == 'price_descending'}">Highest Price</option>
                <option value="year_ascending" th:selected="${sort == 'year_ascending'}">Oldest</option>
                <option value="year_descending" th:selected="${sort == 'year_descending'}">Newest</option>
                <option value="consumption_ascending" th:selected="${sort == 'consumption_ascending'}">Lowest Consumption</option>
                <option value="consumption_descending" th:selected="${sort == 'consumption_descending'}">Highest Consumption</option>
            </select>
        </form>
    </div>

    <table>
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Power (kW)</th>
            <th>Consumption (l/100km)</th>
            <th>Fuel Type</th>
            <th>Price (EUR)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.power}"></td>
            <td th:text="${car.consumption}"></td>
            <td th:text="${car.fuelType}"></td>
            <td th:text="${car.price}"></td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <div th:if="${searchType == 'cars/brand'}">
            <span class="page-span">Page <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
            <a th:if="${currentPage > 0}"
               th:href="@{/cars/brand/results(page=${currentPage - 1}, brand=${brand}, modelSearch=${modelSearch}, sort=${sort})}">Previous
            </a>
            <a th:if="${currentPage < totalPages - 1}"
               th:href="@{/cars/brand/results(page=${currentPage + 1}, brand=${brand}, modelSearch=${modelSearch}, sort=${sort})}">Next</a>
        </div>

        <div th:if="${searchType == 'cars/year'}">
            <span class="page-span">Page <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
            <a th:if="${currentPage > 0}"
               th:href="@{/cars/year/results(page=${currentPage - 1}, startingYear=${startingYear}, endingYear=${endingYear}, sort=${sort})}">Previous</a>
            <a th:if="${currentPage < totalPages - 1}"
               th:href="@{/cars/year/results(page=${currentPage + 1}, startingYear=${startingYear}, endingYear=${endingYear}, sort=${sort})}">Next</a>
        </div>

        <div th:if="${searchType == 'cars/consumption'}">
            <span class="page-span">Page <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
            <a th:if="${currentPage > 0}"
               th:href="@{/cars/consumption/results(page=${currentPage - 1}, fuelType=${fuelType}, lowestConsumption=${lowestConsumption}, highestConsumption=${highestConsumption}, sort=${sort})}">Previous</a>
            <a th:if="${currentPage < totalPages - 1}"
               th:href="@{/cars/consumption/results(page=${currentPage + 1}, fuelType=${fuelType}, lowestConsumption=${lowestConsumption}, highestConsumption=${highestConsumption}, sort=${sort})}">Next</a>
        </div>
    </div>

    <a href="/cars">Back to Home Page</a>
</div>
</body>
</html>