<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filtered Car List</title>
    <link rel="stylesheet" th:href="@{/css/car-list.css}">

</head>
<body>
<div class="container">
    <h1>Filtered Cars</h1>
    <table>
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Power (kW)</th>
            <th>Consumption (l/100km)</th>
            <th>Fuel Type</th>
            <th>Price (EUR)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.power}"></td>
            <td th:text="${car.consumption}"></td>
            <td th:text="${car.fuelType}"></td>
            <td th:text="${car.price}"></td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <div th:if="${searchType == 'cars/brand'}">
            <span>Page <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
            <a th:if="${currentPage > 0}"
               th:href="@{/cars/brand/results(page=${currentPage - 1}, brand=${brand})}">Previous
            </a>
            <a th:if="${currentPage < totalPages - 1}"
               th:href="@{/cars/brand/results(page=${currentPage + 1}, brand=${brand})}">Next</a>
        </div>

        <div th:if="${searchType == 'cars/year'}">
            <span>Page <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
            <a th:if="${currentPage > 0}"
               th:href="@{/cars/year/results(page=${currentPage - 1}, startingYear=${startingYear}, endingYear=${endingYear})}">Previous</a>
            <a th:if="${currentPage < totalPages - 1}"
               th:href="@{/cars/year/results(page=${currentPage + 1}, startingYear=${startingYear}, endingYear=${endingYear})}">Next</a>
        </div>

        <div th:if="${searchType == 'cars/consumption'}">
            <span>Page <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
            <a th:if="${currentPage > 0}"
               th:href="@{/cars/consumption/results(page=${currentPage - 1}, fuelType=${fuelType}, lowestConsumption=${lowestConsumption}, highestConsumption=${highestConsumption})}">Previous</a>
            <a th:if="${currentPage < totalPages - 1}"
               th:href="@{/cars/consumption/results(page=${currentPage + 1}, fuelType=${fuelType}, lowestConsumption=${lowestConsumption}, highestConsumption=${highestConsumption})}">Next</a>
        </div>
    </div>

    <a href="/cars">Back to Filters</a>
</div>
</body>
</html>